name: Build and Deploy VuePress Site

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - master
env:
  SSH_PORT: 22

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install pnpm
        run: npm i -g pnpm

      - name: Install dependencies
        run: |
          pnpm install

      - name: Build
        run: |
          pnpm run blog:build
      - name: output result
        run: |
          ls -a docs/.vuepress/dist/
      - name: copy file via ssh key
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ vars.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ env.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          source: docs/.vuepress/dist/*
          target: /home/ubuntu/project/blog/
          overwrite: true
          rm: false
          strip_components: 3
